body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(250, 250, 250);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 85%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

#weatherResult {
  margin-top: 15px;
}
